<h1>Editing admin_product</h1>
<%= form_for(@product, :url => admin_product_path(@product), :html => {:method => :put}) do |f| %>
<%= render :partial => 'form', :object => f %>
<% end %>
<%= link_to 'Show', admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
